<ion-header>
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
            <ion-item *ngFor="let item of items">
                <ion-checkbox label-placement="end" justify="start" [checked]="item.checked" [value]="item.id" (ionChange)="handleChecked($any($event))">
                    <div class="ion-text-wrap">{{ item.name }}</div>
                </ion-checkbox>
                <ion-reorder slot="end"> </ion-reorder>
            </ion-item>
        </ion-reorder-group>
    </ion-list>
</ion-content>
